@model List<AgroControlUI.DTOs.CropProtectionProducts.CropProtectionProductDto>

@await Html.PartialAsync("_DescriptionModal")
@await Html.PartialAsync("_DeleteConfirmationModal")
<link rel="stylesheet" href="~/css/indexList.css">
<link rel="stylesheet" href="~/css/listOperations.css">
<link rel="stylesheet" href="~/css/filters.css">
<style>
    .name
    {
        max-width:30%;
    }
     
</style>
 @if (User.IsInRole("Admin"))
 {
    <h1 class="blue">Środki ochrony roślin</h1>
 }
 else
 {
    <h1 class="green">Środki ochrony roślin</h1>
 }


<div id="categories" class="wrapper">
    @if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create" class="add-btn"><img src="~/images/plus-solid.svg" />Dodaj środek ochrony roślin</a>
        </p>
    }

    @if (User.IsInRole("Admin"))
    {
        <div class="custom-dropdown blue-filter">
            <select id="filterCategory" name="Category">
                <option value="" selected>Wszystkie kategorie</option>
                @foreach (var category in Model.SelectMany(p => p.cropProtectionProductCategories).Select(c => c.Name).Distinct())
                {
                    <option value="@category">@category</option>
                }
            </select>
            <label for="filterCategory">Wybierz kategorię</label>
        </div>
    }
    else
    {
        <div class="custom-dropdown green-filter">
            <select id="filterCategory" name="Category">
                <option value="" selected>Wszystkie kategorie</option>
                @foreach (var category in Model.SelectMany(p => p.cropProtectionProductCategories).Select(c => c.Name).Distinct())
                {
                    <option value="@category">@category</option>
                }
            </select>
            <label for="filterCategory">Wybierz kategorię</label>
        </div>
    }


    @if (User.IsInRole("Admin"))
    {
        <div class="custom-dropdown blue-filter">
            <select id="filterCrop" name="Crop">
                <option value="" selected>Wszystkie uprawy</option>
                @foreach (var crop in Model.SelectMany(p => p.cropProtectionProductCrops).Select(c => c.Name).Distinct())
                {
                    <option value="@crop">@crop</option>
                }
            </select>
            <label for="filterCrop">Wybierz uprawę</label>
        </div>
        <div class="custom-dropdown blue-filter">
            <select id="filterProducer" name="Producer" class="tomselected ts-hidden-accessible">
                <option value="">Wszyscy producenci</option>
                @foreach (var producer in Model.Select(p => p.Producer.Name).Distinct())
                {
                    <option value="@producer">@producer</option>
                }
            </select>
            <label for="filterProducer">Wybierz producenta</label>
            <span class="bar"></span>
        </div>
    }
    else
    {
            <div class="custom-dropdown green-filter">

                        <select id="filterCrop" name="Crop">
                            <option value="" selected>Wszystkie uprawy</option>
                            @foreach (var crop in Model.SelectMany(p => p.cropProtectionProductCrops).Select(c => c.Name).Distinct())
                            {
                                <option value="@crop">@crop</option>
                            }
                        </select>
                        <label for="filterCrop">Wybierz uprawę</label>
                    </div>
        <div class="custom-dropdown green-filter">
            <select id="filterProducer" name="Producer" class="tomselected ts-hidden-accessible">
                <option value="">Wszyscy producenci</option>
                @foreach (var producer in Model.Select(p => p.Producer.Name).Distinct())
                {
                    <option value="@producer">@producer</option>
                }
            </select>
            <label for="filterProducer">Wybierz producenta</label>
            <span class="bar"></span>
        </div>
    }

    <div class="table">
        @if(User.IsInRole("Admin"))
        {
                    <div class="row header blue" id="headerRow">
                        <div class="cell" data-sort="name" onclick="sortByColumn(this)">
                            <div class="sort-wrapper">
                                <span class="sort-text">Nazwa środka ochrony roślin</span>
                                <span class="sort-arrow">▼</span>
                            </div>
                        </div>
                        <div class="cell" data-sort="producer" onclick="sortByColumn(this)">
                            <div class="sort-wrapper">
                                <span class="sort-text">Producent</span>
                                <span class="sort-arrow">▼</span>
                            </div>
                        </div>
                        <div class="cell" data-sort="cppcategory">
                            Kategorie
                        </div>
                        <div class="cell" data-sort="activeIngredients">
                            Skład
                        </div>
                        <div class="cell" data-sort="crops">
                            Rośliny
                        </div>
                        <div class="cell">
                            Akcje
                        </div>
                    </div>
        }
        else
        {
                    <div class="row header green" id="headerRow">
                        <div class="cell" data-sort="name" onclick="sortByColumn(this)">
                            <div class="sort-wrapper">
                                <span class="sort-text">Nazwa środka ochrony roślin</span>
                                <span class="sort-arrow">▼</span>
                            </div>
                        </div>
                        <div class="cell" data-sort="producer" onclick="sortByColumn(this)">
                            <div class="sort-wrapper">
                                <span class="sort-text">Producent</span>
                                <span class="sort-arrow">▼</span>
                            </div>
                        </div>
                        <div class="cell" data-sort="cppcategory">
                            Kategorie
                        </div>
                        <div class="cell" data-sort="activeIngredients">
                            Skład
                        </div>
                        <div class="cell" data-sort="crops">
                            Rośliny
                        </div>
                        <div class="cell">
                            Akcje
                        </div>
                    </div>
        }
        
        <div class="row">
            <div class="cell">
                <input type="text" class="search-input" data-search="name" placeholder="Szukaj..." oninput="searchByColumn()" />
            </div>
            <div class="cell">
                <input type="hidden" class="search-input" data-search="producer" placeholder="Szukaj..." oninput="searchByColumn()" />
            </div>
            <div class="cell">
                <input type="hidden" class="search-input" data-search="cppcategory" placeholder="Szukaj..." oninput="searchByColumn()" />
            </div>
            <div class="cell">
            </div>
            <div class="cell">
                <input type="hidden" class="search-input" data-search="crops" placeholder="Szukaj..." oninput="searchByColumn()" />
            </div>
            <div class="cell">
            </div>
        </div>
        <div class="list">
            @foreach (var cropProtectionProduct in Model)
            {
                <div class="row">
                    <div class="cell name" data-title="Nazwa środka ochrony roślin">
                        @cropProtectionProduct.Name
                    </div>
                    <div class="cell producer" data-title="Producent">
                        @cropProtectionProduct.Producer.Name
                    </div>
                    <div class="cell cppcategory" data-title="Kategorie">
                        @foreach (var cropProtectionProductCategory in cropProtectionProduct.cropProtectionProductCategories)
                        {
                            @($"{cropProtectionProductCategory.Name}")
                            @if (cropProtectionProductCategory != cropProtectionProduct.cropProtectionProductCategories.Last())
                            {
                                @(", ")
                            }
                        }
                    </div>
                    <div class="cell activeIngredients" data-title="Skład">
                        @foreach (var cropProtectionProductComponent in cropProtectionProduct.cropProtectionProductComponents)
                        {
                            @($"{cropProtectionProductComponent.ActiveIngredientName}({cropProtectionProductComponent.Concentration}g)")
                            @if (cropProtectionProductComponent != cropProtectionProduct.cropProtectionProductComponents.Last())
                            {
                                @(", ")
                            }
                        }
                    </div>
                    <div class="cell crops" data-title="Rośliny">
                        @foreach (var cropProtectionProductCrop in cropProtectionProduct.cropProtectionProductCrops)
                        {
                            @($"{cropProtectionProductCrop.Name}")
                            @if (cropProtectionProductCrop != cropProtectionProduct.cropProtectionProductCrops.Last())
                            {
                                @(", ")
                            }
                        }
                    </div>
                    <div class="cell" data-title="Akcje">
                        <div class="action-buttons">
                            <a href="javascript:void(0);" class="cancel-btn" data-bs-toggle="modal" data-bs-target="#descriptionModal" data-description="@cropProtectionProduct.Description">Opis</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@cropProtectionProduct.Id" class="edit-btn"><img src="~/images/edit.svg" />Edytuj</a>
                                <button type="button" class="delete-btn" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="setDeleteUrl('@Url.Action("DeleteConfirmed", new { id = cropProtectionProduct.Id })')">
                                    <img src="~/images/delete.svg" />Usuń
                                </button>
                            }
                        </div>
                </div>
            </div>
        }

    </div>
    </div>
    <ul class="pagination"></ul>
</div>
<script src="~/js/description.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script src="~/js/listOperations.js"></script>
<script src="~/js/deleteModal.js"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
        const filterCategory = document.getElementById("filterCategory");
        const filterCrop = document.getElementById("filterCrop");

        filterCategory.addEventListener("change", function () {
            let value = filterCategory.value.toLowerCase();

            document.querySelectorAll('.search-input[data-search="cppcategory"]').forEach(input => {
                input.value = value;
            });
            searchByColumn();  
        });

        filterCrop.addEventListener("change", function () {
            let value = filterCrop.value.toLowerCase();

            document.querySelectorAll('.search-input[data-search="crops"]').forEach(input => {
                input.value = value;
            });
            searchByColumn();
        });
        filterProducer.addEventListener("change", function () {
            let value = filterProducer.value.toLowerCase();

            document.querySelectorAll('.search-input[data-search="producer"]').forEach(input => {
                input.value = value;
            });
            searchByColumn();
        });
    });

</script>