@model AgroControlUI.DTOs.FarmData.CreateAgriculturalEquipmentDto
<link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/addWithSelects.css">
<link rel="stylesheet" href="~/css/add.css">

<div class="form-container">
    <div class="green-form">
        <form asp-action="Edit" method="post">
            <h1>Edytuj maszynę rolniczą</h1>

            <div class="group">
                <input asp-for="Name" value="@Model.Name"/>
                <span class="bar"></span>
                <label asp-for="Name">Nazwa maszyny</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="Brand" value="@Model.Brand" />
                <span class="bar"></span>
                <label asp-for="Brand">Marka</label>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="group">
                <label class="switch">
                    <input asp-for="IsActive" type="checkbox">
                    <span class="slider"></span>
                </label>
                <span class="switch-label">Aktywność</span>
            </div>
            <div class="group">
                <textarea asp-for="Description" value="@Model.Description" class="description-field"></textarea>
                <span class="bar"></span>
                <label asp-for="Description">Opis*</label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="single-dropdown">
                <select asp-for="AgriculturalEquipmentTypeId" value="@Model.AgriculturalEquipmentTypeId" asp-items="ViewBag.AgriculturalEquipmentTypes" id="typeSelect" required>
                    <option value=""></option>
                </select>
                <span class="bar"></span>
                <label asp-for="AgriculturalEquipmentTypeId">Rodzaj maszyny</label>
                <span asp-validation-for="AgriculturalEquipmentTypeId" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="YearOfManufacture" value="@Model.YearOfManufacture" type="number" data-val-number="Rok produkcji musi być liczbą." />
                <span class="bar"></span>
                <label asp-for="YearOfManufacture">Rok produkcji*</label>
                <span asp-validation-for="YearOfManufacture" class="text-danger"></span>
            </div>
            <div class="single-dropdown">
                <select asp-for="FuelId" asp-items="ViewBag.Fuels" value="@Model.FuelId" id="fuelSelect">
                    <option value=""></option>
                </select>
                <span class="bar"></span>
                <label asp-for="FuelId">Rodzaj paliwa*</label>
            </div>
            <div class="group">
                <input asp-for="FuelCapacity" type="number" value="@Model.FuelCapacity" data-val-number="Pojemność zbiornika musi być liczbą." />
                <span class="bar"></span>
                <label asp-for="FuelCapacity">Zbiornik paliwa (l)*</label>
                <span asp-validation-for="FuelCapacity" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="EnginePower" value="@Model.EnginePower" type="number" data-val-number="Moc silnika musi być liczbą." />
                <span class="bar"></span>
                <label asp-for="EnginePower">Moc silnika (KM)*</label>
                <span asp-validation-for="EnginePower" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="Weight" type="number" value="@Model.Weight" data-val-number="Waga musi być liczbą." />
                <span class="bar"></span>
                <label asp-for="Weight">Waga (kg)*</label>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="Width" type="number" value="@Model.Width" data-val-number="Szerokość musi być liczbą." />
                <span class="bar"></span>
                <label asp-for="Width">Szerokość (m)*</label>
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="WorkingWidth" type="number" value="@Model.WorkingWidth"  data-val-number="Szerkość robocza musi być liczbą." />
                <span class="bar"></span>
                <label asp-for="WorkingWidth">Szerokość robocza (m)*</label>
                <span asp-validation-for="WorkingWidth" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="Height" type="number" value="@Model.Height"  data-val-number="Wysokość musi być liczbą." />
                <span class="bar"></span>
                <label asp-for="Height">Wysokość (m)*</label>
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="WorkingSpeed" value="@Model.WorkingSpeed" type="number" data-val-number="Prędkość robocza musi być liczbą." />
                <span class="bar"></span>
                <label asp-for="WorkingSpeed">Prędkość robocza (km/h)*</label>
                <span asp-validation-for="WorkingSpeed" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="TransportSpeed" value="@Model.TransportSpeed" type="number" data-val-number="Prędkość musi być liczbą." />
                <span class="bar"></span>
                <label asp-for="TransportSpeed">Prędkość transportowa (km/h)*</label>
                <span asp-validation-for="TransportSpeed" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="LastServiceDate" value="@Model.LastServiceDate" type="date" />
                <span class="bar"></span>
                <label asp-for="LastServiceDate">Ostatni serwis*</label>
                <span asp-validation-for="LastServiceDate" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="NextServiceDate" value="@Model.NextServiceDate" type="date" />
                <span class="bar"></span>
                <label asp-for="NextServiceDate">Następny serwis*</label>
                <span asp-validation-for="NextServiceDate" class="text-danger"></span>
            </div>


            <div class="action-buttons">
                <a asp-action="Index" class="cancel-btn">Anuluj</a>
                <button type="submit" class="add-btn">Zapisz</button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/inputLabel.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new TomSelect("#typeSelect", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            },
            placeholder: "Wybierz rodzaj maszyny"
        });

        new TomSelect("#fuelSelect", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            },
            placeholder: "Wybierz rodzaj paliwa"
        });
    });
</script>